
@{
    ViewData["Title"] = "Details";
}


<div class="container d-flex justify-content-center">



    <div class="card align-self-center py-5 border-0">

        @if (ViewBag.Message != null)
        {
            <div class="align-self-center">
                @*TERNARY EXPRESSION*@
                <p class="alert-@(ViewBag.Error != null ? "danger" : "success")">@(ViewBag.Message)</p>

                @if (ViewBag.Error != null)
                {
                    <ul class="list-group">
                        @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
                        {
                            <li class="list-group-item list-group-item-danger">@(e.Message)</li>
                        }
                    </ul>
                }

            </div>
        }

        @if (ViewBag.CourseDetails != null)
        {

            <div class="card-header bg-white">

                <h1 class="card-text">Course Details</h1>

            </div>


            <div class="card-body">
                <h2 class="card-title">Course Name: @(ViewBag.CourseDetails.CourseName)</h2>

                <p class="card-text">Subject : @(ViewBag.CourseDetails.Subject)</p>

                <p class="card-text">@(ViewBag.CourseDetails.CourseDescription)</p>

                <hr class="my-1">

                <div class="text-right">
                    <p class="card-text">
                        <small>
                            @(ViewBag.CourseDetails.GradeLevel)
                        </small>
                    </p>
                    <p class="card-text">
                        <small>Start date :  @((ViewBag.CourseDetails.StartDate == null ? "TBA" : ((DateTime)ViewBag.CourseDetails.StartDate).ToLongDateString()))</small>
                    </p>
                    <p class="card-text">
                        <small>End date : @((ViewBag.CourseDetails.EndDate == null ? "TBA" : ((DateTime)ViewBag.CourseDetails.EndDate).ToLongDateString()))</small>
                    </p>
                    <p class="card-text">
                        <small>Capacity : @((ViewBag.CourseDetails.EndDate == null ? "TBA" : ((DateTime)ViewBag.CourseDetails.EndDate).ToLongDateString()))</small>
                    </p>


                    @if (ViewBag.CourseDetails.CurrentCapacity == ViewBag.CourseDetails.MaxCapacity)
                    {
                        <p class="card-text">
                            <small>Capacity : FULL</small>
                        </p>
                    }
                    else
                    {
                        <p class="card-text">
                            <small>Capacity : @(ViewBag.CourseDetails.CurrentCapacity + "/" + ViewBag.CourseDetails.MaxCapacity)</small>
                        </p>

                    }


                </div>

            </div>

            <div class="card-footer bg-white">

                <a asp-action="CourseList" asp-controller="Course" class="btn btn-yellow round mx-5 my-1">Back to Courses</a>
                @if (User.Identity.Name != null)
                {
                    <a asp-action="Enroll" asp-controller="Course" asp-route-courseID="@(ViewBag.CourseDetails.ID)" class="btn btn-yellow round mx-5 my-1">Enroll</a>
                }

                else
                {
                    <a asp-controller="SignIn" asp-action="Index" class="btn btn-yellow round mx-5 my-1">Sign-in to Enroll</a>
                }


            </div>
        }
        else
        {
            <h2>Details</h2>
            <p>An error occured trying to populate course information. <a asp-action="CourseList" asp-controller="Course">Click here to return to the course list.</a></p>
        }

    </div> <!--End Card-->


</div> <!--End Container-->

