@{
    ViewData["Title"] = "CourseDetail";
}





<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">

        <!--Start Side panel-->
        <aside class="col-12 col-md-3 p-0 bg-light border-right border-8 ">
            <nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-md-center p-0  ">
                <div class="collapse navbar-collapse p-0 py-md-5 ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-around">
                        <li class="nav-item  py-md-2">

                            <h5> <span class="d-none d-md-inline font-weight-bold">Dashboard Menu</span></h5>

                        </li>

                        <li class="nav-item  py-md-2">
                            <a class="nav-link teal-text" asp-action="StudentDashboard" asp-controller="Student"><i class="fas fa-house-user"></i> <span class="d-none d-md-inline">Main</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Student" asp-action="CourseList" asp-route-id="@User.Identity.Name"><i class="fas fa-book"></i> <span class="d-none d-md-inline"> My Courses</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-action="Signout" asp-controller="SignIn"><i class="fas fa-sign-out-alt"></i> <span class="d-none d-md-inline">Sign Out</span></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </aside>
        <!--End Side panel-->

        <!--Start Main -->
        <main class="col py-3 flex-grow-1">

            <div class="text-right mt-4 ">
                <h3>Welcome @ViewBag.UserInformation.FirstName @ViewBag.UserInformation.FirstName</h3>
            </div>

            @if (ViewBag.Error != null)
            {
                <ul class="list-group">
                    @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
                    {
                        <li class="list-group-item list-group-item-danger">@(e.Message)</li>
                    }
                </ul>
            }




        <div class="container">


            @*--------------------------------------Details about courseo -------------------------------------------------*@

            @if (ViewBag.SingleCourseDetail != null)
            {
                <div class="card m-5 shadow-lg" >

                    <div class="card-header bg-@(ViewBag.SingleCourseDetail.Subject) text-right">

                        <h2 class="card-text"> @(ViewBag.SingleCourseDetail.Subject)</h2>

                    </div>


                    <div class="card-body">
                        <h4 class="card-title">@(ViewBag.SingleCourseDetail.CourseName)</h4>
                     
                        <p class="card-text">@(ViewBag.SingleCourseDetail.CourseDescription)</p>

                        <hr class="my-1">

                        <div class="text-right">
                            <p class="card-text">
                                <small>
                                    @(ViewBag.SingleCourseDetail.GradeLevel)
                                </small>
                            </p>
                            <p class="card-text">
                                <small>Start date :  @((ViewBag.SingleCourseDetail.StartDate == null ? "TBA" : ((DateTime)ViewBag.SingleCourseDetail.StartDate).ToLongDateString()))</small>
                            </p>
                            <p class="card-text">
                                <small>End date : @((ViewBag.SingleCourseDetail.EndDate == null ? "TBA" : ((DateTime)ViewBag.SingleCourseDetail.EndDate).ToLongDateString()))</small>
                            </p>
                        </div>

                    </div>
                    
                </div>

                @*-------------------------------------- Assignments Info -------------------------------------------------*@









                <h5> Assignments in this course</h5>

                @if (ViewBag.AssignmentsForCourse != null && ViewBag.AssignmentsForCourse.Count > 0)
                {
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Question</th>
                                <th>Due Date</th>
                                <th>Total Score</th>
                                <th>Actions</th>
                            </tr>
                            @foreach (Assignment assignment in ViewBag.AssignmentsForCourse)
                            {
                                <tr>
                                    <td>@assignment.Question</td>
                                    <td>@assignment.DueDate.ToLongDateString()</td>
                                    <td>@assignment.TotalScore</td>


                                    <td>
                                        @if (ViewBag.SubmittedIds.Contains(assignment.ID))
                                        {
                                            <p>Submitted</p>
                                        }
                                        else
                                        {
                                            <a asp-controller="Student" asp-action="AssignmentAttempt" asp-route-id="@assignment.ID">Attempt</a>
                                        }
                                    </td>
                                </tr>
                            }
                    </table>

                }
                else
                {
                    <p><strong>No Assignments for this  course yet</strong></p>
                }

                @*-------------------------------------- Submitted Assignments Info -------------------------------------------------*@

                <h5> Submitted Assignments</h5>

                @if (ViewBag.SubmittedAssignments != null && ViewBag.SubmittedAssignments.Count > 0)
                {
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Question</th>
                                <th>Due Date</th>
                                <th>Total Score</th>
                                <th>Date Submitted</th>
                                <th>Answer</th>
                                <th>Score obtained</th>
                                <th>Remarks</th>
                            </tr>
                            @foreach (Submit assignment in ViewBag.SubmittedAssignments)
                            {
                                <tr>
                                    <td>@assignment.Assignment.Question</td>
                                    <td>@assignment.Assignment.DueDate.ToLongDateString()</td>
                                    <td>@assignment.Assignment.TotalScore</td>

                                    <td>@assignment.DateSubmitted.ToLongDateString()</td>
                                    <td>@assignment.Answer</td>
                                    <td>@assignment.ScoreObtained</td>
                                    <td>@assignment.Remarks</td>


                                </tr>
                            }
                    </table>

                }
                else
                {
                    <p><strong>No submitted assignment yet</strong></p>
                }



            }
            else
            {
                <p>Course Details Not Available. Please go back to Main and try again</p>
            }




        </div>

        </main>
        <!--End Main -->
    </div>
</div>



















