
@{
    ViewData["Title"] = "CourseDetail";
}

@*----------------------------------------------Instructors Course Detail ------------------------------------------------------*@



<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">

        <!--Start Side panel-->
        <aside class="col-12 col-md-3 p-0 bg-light border-right border-8 ">
            <nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-md-center p-0  ">
                <div class="collapse navbar-collapse p-0 py-md-5 ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-around">
                        <li class="nav-item  py-md-2">

                            <h5> <span class="d-none d-md-inline font-weight-bold">Dashboard Menu</span></h5>

                        </li>

                        <li class="nav-item  py-md-2">
                            <a class="nav-link teal-text" asp-action="InstructorDashboard" asp-controller="Instructor"><i class="fas fa-house-user"></i> <span class="d-none d-md-inline">Main</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Instructor" asp-action="CourseList"><i class="fas fa-book"></i> <span class="d-none d-md-inline"> My Courses</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Instructor" asp-action="AssignmentCreate" asp-route-id="@(ViewBag.SingleCourseDetail.ID)"><i class="fas fa-plus-circle"></i><span class="d-none d-md-inline"> Create New Assignment</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-action="Signout" asp-controller="SignIn"><i class="fas fa-sign-out-alt"></i> <span class="d-none d-md-inline">Sign Out</span></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </aside>
        <!--End Side panel-->
        <!--Start Main -->
        <main class="col bg-faded py-3 flex-grow-1">

            <div class="text-right mt-4">

                <h3>Welcome @ViewBag.UserInformation.FirstName @ViewBag.UserInformation.LastName</h3>

            </div>


            <div class="jumbotron bg-white flex-row">
                <h2 class="display-3">Course Detail</h2>
            </div>

            @if (ViewBag.Error != null)
            {
                <ul class="list-group">
                    @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
                    {
                        <li class="list-group-item list-group-item-danger">@(e.Message)</li>
                    }
                </ul>
            }

            <div class="container">

                @*--------------------------------------Details about course -------------------------------------------------*@

                @if (ViewBag.SingleCourseDetail != null)
                {
                    <div class="card m-5 shadow-lg">

                        <div class="card-header bg-@(ViewBag.SingleCourseDetail.Subject)">

                            <h2 class="card-text"> @(ViewBag.SingleCourseDetail.Subject)</h2>

                        </div>


                        <div class="card-body">
                            <h4 class="card-title">@(ViewBag.SingleCourseDetail.CourseName)</h4>

                            <p class="card-text">@(ViewBag.SingleCourseDetail.CourseDescription)</p>

                            <hr class="my-1">

                            <div class="text-right">
                                <p class="card-text">
                                    <small>
                                        @(ViewBag.SingleCourseDetail.GradeLevel)
                                    </small>
                                </p>
                                <p class="card-text">
                                    <small>Start date :  @((ViewBag.SingleCourseDetail.StartDate == null ? "TBA" : ((DateTime)ViewBag.SingleCourseDetail.StartDate).ToLongDateString()))</small>
                                </p>
                                <p class="card-text">
                                    <small>End date : @((ViewBag.SingleCourseDetail.EndDate == null ? "TBA" : ((DateTime)ViewBag.SingleCourseDetail.EndDate).ToLongDateString()))</small>
                                </p>


                                @if (ViewBag.SingleCourseDetail.CurrentCapacity == ViewBag.SingleCourseDetail.MaxCapacity)
                                {
                                    <p>  <small> Capacity : FULL</small></p>
                                }
                                else
                                {
                                    <p><small> Capacity : @(ViewBag.SingleCourseDetail.CurrentCapacity + "/" + ViewBag.SingleCourseDetail.MaxCapacity)</small></p>
                                }

                            </div>

                        </div>

                    </div>

                    @*-------------------------------Students Information -------------------------------------------*@

                    <div class="card m-5 shadow-lg">

                        <div class="card-header bg-@(ViewBag.SingleCourseDetail.Subject)">

                            <h4 class="card-text">Students Details</h4>

                        </div>


                        <div class="card-body">
                            <p class="card-text">Click on student name to view and mark assignments submitted by them</p>

                            @if (ViewBag.StudentsForCourse != null && ViewBag.StudentsForCourse.Count > 0)
                            {

                                <div class="card-deck">

                                    @foreach (User student in ViewBag.StudentsForCourse)
                                    {
                                        <div class="card m-4 shadow-lg" style="min-width:80px; max-width: 100px;">

                                            <div class="card-header text-right">

                                                <h5 class="card-text"><i class="fas fa-user-graduate"></i></h5>
                                            </div>

                                            <div class="card-body">
                                                <p class="card-text">
                                                    <small>
                                                        <a asp-controller="Instructor" asp-action="AssignmentList" asp-route-cid="@(ViewBag.SingleCourseDetail.ID)" asp-route-uid="@(student.ID)">@student.FirstName  @student.LastName</a>
                                                    </small>
                                                </p>
                                            </div>

                                        </div>
                                    }

                                </div>

                            }
                            else
                            {
                                <p><strong>No student enrolled in this course yet</strong></p>
                            }

                        </div>
                    </div>

                    @*--------------------------------------Assignments Information -------------------------------------------------*@


                    <div class="card m-5 shadow-lg">

                        <div class="card-header bg-@(ViewBag.SingleCourseDetail.Subject)">

                            <h4 class="card-text">Assignments</h4>

                        </div>


                        <div class="card-body">


                            @if (ViewBag.AssignmentsForCourse != null && ViewBag.AssignmentsForCourse.Count > 0)
                            {

                                <div class="card-deck">

                                    @foreach (Assignment assignment in ViewBag.AssignmentsForCourse)
                                    {
                                        <div class="card m-4 shadow-lg" style="min-width:200px; max-width: 220px;">

                                            <div class="card-header text-right">

                                                <hp class="card-text"><small>Due Date : @assignment.DueDate.ToLongDateString()</small></hp>

                                            </div>


                                            <div class="card-body">

                                                <div class="text-right">

                                                    <p class="card-text">
                                                        <small>Total Score : @assignment.TotalScore</small>
                                                    </p>
                                                </div>

                                                <hr class="my-1">

                                                <p>Question : <small>@assignment.Question</small></p>

                                            </div>

                                        </div>
                                    }

                                </div>

                            }
                            else
                            {
                                <p><strong>No Assignments for this  course yet</strong></p>
                            }

                        </div>

                        <div class="card-footer text-muted text-right">
                            <a class="btn btn-yellow round" asp-controller="Instructor" asp-action="AssignmentCreate" asp-route-id="@(ViewBag.SingleCourseDetail.ID)">
                                Create New Assignment
                            </a>
                        </div>
                    </div>

                }@*-------------------------------------- End starting if -------------------------------------------------*@

                else
                {
                    <h3 class="ml-5">Course Details Not Available. Please go back to Main and try again</h3>
                }




            </div>    <!--End Container -->

        </main>
        <!--End Main -->
    </div>
</div>


