
@{
    ViewData["Title"] = "CourseDetail";
}

<h1>CourseDetail</h1>

<ul>
    <li>
        <a asp-action="InstructorDashboard" asp-controller="Instructor">
            Main
        </a>
    </li>
    <li>
        <a asp-controller="Instructor" asp-action="CourseList"
           asp-route-id="@User.Identity.Name">
            My Courses
        </a>
    </li>
    <li>
        <a asp-action="Signout" asp-controller="SignIn">
            Signout
        </a>
    </li>

</ul>

@if (ViewBag.Error != null)
{
    <ul>
        @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
        {
            <li class="alert-danger">@(e.Message)</li>
        }
    </ul>
}



@*--------------------------------------Details about courseo -------------------------------------------------*@

@if (ViewBag.SingleCourseDetail != null)
{

    <div class="card">

        <img class="card-img-top" src="..." alt="Card image cap">

        <div class="card-body">
            <h4 class="card-title">@(ViewBag.SingleCourseDetail.CourseName)</h4>
            <h5>Subject : @(ViewBag.SingleCourseDetail.Subject)</h5>
            <strong> Course Description : </strong>
            <p class="card-text">@(ViewBag.SingleCourseDetail.CourseDescription)</p>
            <strong> Grade </strong>
            <p class="card-text">
                @(ViewBag.SingleCourseDetail.GradeLevel)
            </p>

            <p class="card-text">
                <strong>Start Date : </strong>
                @((ViewBag.SingleCourseDetail.StartDate == null ? "TBA" : ((DateTime)ViewBag.SingleCourseDetail.StartDate).ToLongDateString()))
            </p>
            <p class="card-text">
                <strong>End Date : </strong>
                @((ViewBag.SingleCourseDetail.EndDate == null ? "TBA" : ((DateTime)ViewBag.SingleCourseDetail.EndDate).ToLongDateString()))
            </p>

            <strong> Capacity </strong>
            @if (ViewBag.SingleCourseDetail.CurrentCapacity == ViewBag.SingleCourseDetail.MaxCapacity)
            {
                <p>FULL</p>
            }
            else
            {
                <p>@(ViewBag.SingleCourseDetail.CurrentCapacity + "/" + ViewBag.SingleCourseDetail.MaxCapacity)</p>
            }

        </div>
    </div>

    @*--------------------------------------Students Info -------------------------------------------------*@

    <h5> Students in this course</h5>
    @if (ViewBag.StudentsForCourse != null && ViewBag.StudentsForCourse.Count > 0)
    {

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Action</th>
                </tr>
                @foreach (User student in ViewBag.StudentsForCourse)
                {
                    <tr>
                        <td>@student.FirstName + @student.LastName</td>
                        <td>A+</td>
                        <td>Show Assignments</td>
                    </tr>
                }
        </table>

    }
    else
    {
        <p><strong>No student enrolled in this course yet</strong></p>
    }

    @*--------------------------------------Assignments Info -------------------------------------------------*@

    <h5> Assignments in this course</h5>

    <a asp-controller="Instructor" asp-action="AssignmentCreate" asp-route-id="@(ViewBag.SingleCourseDetail.ID)" class="badge-pill badge-warning">Create a new assignment</a>

    @if (ViewBag.AssignmentsForCourse != null && ViewBag.AssignmentsForCourse.Count > 0)
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Question</th>
                    <th>Due Date</th>
                    <th>Total Score</th>
                    <th>Actions</th>
                </tr>
                @foreach (Assignment assignment in ViewBag.AssignmentsForCourse)
                {
                    <tr>
                        <td>@assignment.Question</td>
                        <td>@assignment.DueDate.ToLongDateString()</td>
                        <td>@assignment.TotalScore</td>
                        <td>Edit</td>
                    </tr>
                }
        </table>

    }
    else
    {
        <p><strong>No Assignments for this  course yet</strong></p>
    }

}
else
{
    <p>Course Details Not Available. Please head back to Main and try again</p>
}





