
@{
    ViewData["Title"] = "CourseList";
}

<h1>InstructorCourseList</h1>


<h2> Welcome @User.Identity.Name To Instructor Dashboard </h2>


<ul>
    <li>
        <a asp-action="Signout" asp-controller="SignIn">
            Signout
        </a>
    </li>
</ul>


@*<input type="text" id="instructorID" name="instructorID" value="@User.Identity.Name" />*@

@if (ViewBag.Error != null)
{
    <ul>
        @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
        {
            <li class="alert-danger">@(e.Message)</li>
        }
    </ul>
}

<section>

    @if (ViewBag.InstructorsCourses != null && ViewBag.InstructorsCourses.Count > 0)
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Course ID</th>
                   
                    <th>Course Name</th>
                    <th>Subject</th>
                    <th>Course Description</th>
                    <th>Grade Level</th>
                    <th>Start Date</th>
                    <th>End Data</th>
                    <th>Capactity</th>
                    <th>Action</th>
                </tr>
                @foreach (Course course in ViewBag.InstructorsCourses)
                {
                    <tr>
                        <td>@(course.ID)</td>                    
                        <td>@(course.CourseName)</td>
                        <td>@(course.Subject)</td>
                        <td>@(course.CourseDescription)</td>
                        <td>@(course.GradeLevel)</td>
                        <td>@((course.StartDate == null ? "TBA" : ((DateTime)course.StartDate).ToLongDateString()))</td>
                        <td>@((course.EndDate == null ? "TBA" : ((DateTime)course.EndDate).ToLongDateString()))</td>
                        @if (course.CurrentCapacity == course.MaxCapacity)
                        {
                            <td>FULL</td>
                        }
                        else
                        {
                            <td>@(course.CurrentCapacity + "/" + course.MaxCapacity)</td>
                        }
                        <td><a href="/Administrator/CourseEdit?id=@(course.ID)">Edit</a> | <a href="/Administrator/CourseDelete?id=@(course.ID)">Delete</a></td>

                    </tr>
                }
        </table>
    }

    else
    {
        <p>You dont have any Courses yet</p>
    }

</section>



