
@{
    ViewData["Title"] = "CourseList";
}

@*----------------------------------------------Instructors Course List ------------------------------------------------------*@


<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">

        <!--Start Side panel-->
        <aside class="col-12 col-md-3 p-0 bg-light border-right border-8 ">
            <nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-md-center p-0  ">
                <div class="collapse navbar-collapse p-0 py-md-5 ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-around">
                        <li class="nav-item  py-md-2">

                            <h5> <span class="d-none d-md-inline font-weight-bold">Dashboard Menu</span></h5>

                        </li>

                        <li class="nav-item  py-md-2">
                            <a class="nav-link teal-text" asp-action="InstructorDashboard" asp-controller="Instructor"><i class="fas fa-house-user"></i> <span class="d-none d-md-inline">Main</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text active" asp-controller="Instructor" asp-action="CourseList"><i class="fas fa-book"></i> <span class="d-none d-md-inline"> My Courses</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-action="Signout" asp-controller="SignIn"><i class="fas fa-sign-out-alt"></i> <span class="d-none d-md-inline">Sign Out</span></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </aside>
        <!--End Side panel-->
        <!--Start Main -->
        <main class="col bg-faded py-2 flex-grow-1">

            <div class="text-right mt-4">

                <h3>Welcome @ViewBag.UserInformation.FirstName @ViewBag.UserInformation.LastName</h3>

            </div>


            <div class="jumbotron bg-white flex-row">
                <h2 class="display-3">Course List</h2>

                <hr class="my-4">
                <p>Here you will find list of all the courses</p>
            </div>


            @if (ViewBag.Error != null)
            {
                <ul class="list-group">
                    @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
                    {
                        <li class="list-group-item list-group-item-danger">@(e.Message)</li>
                    }
                </ul>
            }

            @*-----------------------------Start Course list --------------------------------------------------*@



        <div class="container">

            @if (ViewBag.InstructorsCourses != null && ViewBag.InstructorsCourses.Count > 0)
            {
                <div class="card-deck">

                    @foreach (Course course in ViewBag.InstructorsCourses)
                    {
                        <div class="card m-4 shadow-lg" style="min-width:300px; max-width: 320px;">

                            <div class="card-header bg-@(course.Subject) text-right">

                                <h3 class="card-text">@(course.Subject)</h3>

                            </div>


                            <div class="card-body">
                                <div class="text-right">

                                    <p class="card-text">
                                        <small>
                                            @(course.GradeLevel)
                                        </small>
                                    </p>
                                    <p class="card-text">
                                        <small>Start date : @((course.StartDate == null ? "TBA" : ((DateTime)course.StartDate).ToLongDateString()))</small>
                                    </p>
                                    <p class="card-text">
                                        <small>End date : @((course.EndDate == null ? "TBA" : ((DateTime)course.EndDate).ToLongDateString()))</small>
                                    </p>

                                    @if (course.CurrentCapacity == course.MaxCapacity)
                                    {
                                        <p class="card-text"> <small>Capacity : FULL</small></p>
                                    }
                                    else
                                    {
                                        <p><small>Capacity :  @(course.CurrentCapacity + "/" + course.MaxCapacity)</small></p>
                                    }

                                </div>
                                <hr class="my-1">



                                <h4 class="card-title">@(course.CourseName)</h4>
                                <p class="card-text"><small>@(course.CourseDescription)</small></p>






                            </div>
                            <div class="card-footer text-muted text-right">
                                <a class="teal-text" asp-controller="Instructor" asp-action="CourseDetail"
                           asp-route-id="@(course.ID)">
                                    Details
                                </a>

                            </div>

                        </div>
                    }

                </div>


            }

            else
            {
        <p class="my-5">You dont have any assigned Courses  yet</p>
            }

        </div>    <!--End Container -->
            @*------------------------------------ENd Course list ----------------------------------------------*@
        </main>
        <!--End Main -->
    </div>
</div>





