@model TerraformMinds.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">

        <!--Start Side panel-->
        <aside class="col-12 col-md-3 p-0 bg-light border-right border-8 ">
            <nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-md-center p-0  ">
                <div class="collapse navbar-collapse p-0 py-md-5 ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-around">
                        <li class="nav-item  py-md-2">

                            <h5> <span class="d-none d-md-inline font-weight-bold">Dashboard Menu</span></h5>

                        </li>

                        <li class="nav-item  py-md-2">
                            <a class="nav-link teal-text" asp-action="AdministratorDashboard" asp-controller="Administrator"><i class="fas fa-house-user"></i> <span class="d-none d-md-inline"> Main</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Administrator" asp-action="InstructorList"><i class="fas fa-chalkboard-teacher"></i> <span class="d-none d-md-inline"> Instructor List</span></a>
                        </li>


                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Administrator" asp-action="StudentList"><i class="fas fa-user-graduate"></i> <span class="d-none d-md-inline"> Student List</span></a>
                        </li>


                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Administrator" asp-action="CourseList"><i class="far fa-list-alt"></i> <span class="d-none d-md-inline"> Course List</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Administrator" asp-action="CourseCreate"><i class="fas fa-plus-circle"></i> <span class="d-none d-md-inline"> Create Course</span></a>
                        </li>



                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-action="Signout" asp-controller="SignIn"><i class="fas fa-sign-out-alt"></i> <span class="d-none d-md-inline"> Sign Out</span></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </aside>
        <!--End Side panel-->
        <!--Start Main -->
        <main class="col bg-faded py-3 flex-grow-1">

            <div class="text-right mt-4">

                <h3>Welcome</h3>

            </div>

            <div class="jumbotron bg-white">
                <h1 class="display-4">
                    Delete Course
                </h1>

                <hr class="my-1">
                <p>
                    Are you sure you want to delete this course ?
                </p>
                <p>
                    All the assignments and the enrolled students record will also be deleted
                </p>

            </div>

            <div class="container d-flex justify-content-center">



                <div class="card align-self-center py-5 border-0">

                    @if (ViewBag.Message != null)
                    {
                        @*TERNARY EXPRESSION*@
                        <p class="alert-@(ViewBag.Error != null ? "danger" : "success")">@(ViewBag.Message)</p>

                        @if (ViewBag.Error != null)
                        {
                            <ul class="list-group">
                                @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
                                {
                                    <li class="list-group-item list-group-item-danger">@(e.Message)</li>
                                }
                            </ul>
                        }

                    }

                    @if (ViewBag.CourseExists == true)
                    {

                        <div class="card-header bg-white">

                            <h2 class="card-text">Course Details</h2>

                        </div>


                        <div class="card-body">
                            <h5 class="card-title">Course Name :  @Html.DisplayFor(model => model.CourseName)</h5>

                            <p class="card-text">Subject : @Html.DisplayFor(model => model.Subject)</p>

                            <p class="card-text">Description : @Html.DisplayFor(model => model.CourseDescription)</p>

                            <hr class="my-1">

                            <div class="text-right">
                                <p class="card-text">
                                    <small>
                                        @Html.DisplayFor(model => model.GradeLevel)
                                    </small>
                                </p>
                                <p class="card-text">
                                    <small>Start date :  
                                        @if (Model.StartDate.HasValue)
                                        {
                                            @Html.DisplayFor(model => model.StartDate)
                                        }
                                        else
                                        {
                                            @Html.Raw(@"TBA");
                                        }
                                        </small></p>
                                <p class="card-text">
                                    <small>End date :  
                                    @if (Model.EndDate.HasValue)
                                        {
                                            @Html.DisplayFor(model => model.EndDate)
                                        }
                                        else
                                        {
                                            @Html.Raw(@"TBA");
                                        }
                                    </small>
                                </p>


                                <p class="card-text">
                                    <small>Capacity :  @Html.DisplayFor(model => model.CurrentCapacity) / @Html.DisplayFor(model => model.MaxCapacity)</small>
                                </p>

                            </div>

                        </div>

                        <div class="card-footer bg-white">

                            <form asp-action="CourseDelete">

                                <input type="hidden" asp-for="ID" />

                                <input type="submit" value="Delete" class="btn btn-pink round mx-5 my-1" />
                                <a asp-action="CourseList" class="btn btn-yellow round mx-5 my-1">Back to Course List</a>
                            </form>


                        </div>
                    }
                    else
                    {

                <p>An error occurred trying to populate course data. <a asp-action="CourseList" asp-controller="Administrator" class="teal-text">Click here</a> to return to the course list</p>
                    }


                </div> <!--End Card-->

            </div> <!--End Container-->
        </main>
        <!--End Main -->
    </div>
</div>
