@model TerraformMinds.Models.Course

@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">

        <!--Start Side panel-->
        <aside class="col-12 col-md-3 p-0 bg-light border-right border-8 ">
            <nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-md-center p-0  ">
                <div class="collapse navbar-collapse p-0 py-md-5 ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-around">
                        <li class="nav-item  py-md-2">

                            <h5> <span class="d-none d-md-inline font-weight-bold">Dashboard Menu</span></h5>

                        </li>

                        <li class="nav-item  py-md-2">
                            <a class="nav-link teal-text" asp-action="StudentDashboard" asp-controller="Student"><i class="fas fa-house-user"></i> <span class="d-none d-md-inline"> Main</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Administrator" asp-action="InstructorList"><i class="far fa-list-alt"></i> <span class="d-none d-md-inline"> Instructor List</span></a>
                        </li>


                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Administrator" asp-action="StudentList"><i class="far fa-list-alt"></i> <span class="d-none d-md-inline"> Student List</span></a>
                        </li>


                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Administrator" asp-action="CourseList"><i class="far fa-list-alt"></i> <span class="d-none d-md-inline"> Course List</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Administrator" asp-action="CourseCreate"><i class="far fa-list-alt"></i> <span class="d-none d-md-inline"> Create Course</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-action="Signout" asp-controller="SignIn"><i class="fas fa-sign-out-alt"></i> <span class="d-none d-md-inline"> Sign Out</span></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </aside>
        <!--End Side panel-->
        <!--Start Main -->
        <main class="col bg-faded py-3 flex-grow-1">

            <div class="text-right mt-4">

                <h3>Welcome</h3>

            </div>

            <div class="jumbotron bg-white">
                <h3 class="display-4">Create Course</h3>
                <hr class="my-4">
                <p>
                    <a class="teal-text" asp-controller="Administrator" asp-action="CourseList">
                        Back to Course List
                    </a>

                </p>
            </div>
            <div class="card mx-5 px-md-5 shadow border-0">
                @if (ViewBag.Message != null)
                {
                    @*TERNARY EXPRESSION*@
                    <p class="alert-@(ViewBag.Error != null ? "danger" : "success")">@(ViewBag.Message)</p>

                    @if (ViewBag.Error != null)
                    {
                        <ul class="list-group">
                            @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
                            {
                                <li class="list-group-item list-group-item-danger">@(e.Message)</li>
                            }
                        </ul>
                    }
                }

                <form asp-action="CourseCreate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserID" class="control-label">Instructor:</label>
                        <select asp-for="UserID" class="form-control shadow-sm" asp-items="ViewBag.Instructors">
                        </select>
                        <span asp-validation-for="UserID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CourseName" class="control-label">Course Name:</label>
                        <input asp-for="CourseName" name="CourseName" class="form-control shadow-sm" value="@(ViewBag.CourseName)" data-val="true" data-val-required="A course name is required" />
                        <span asp-validation-for="CourseName" class="text-danger" data-valmsg-for="CourseName"
                              data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subject" class="control-label">Subject:</label>
                        <select asp-for="Subject" class="form-control shadow-sm" asp-items="ViewBag.CourseSubjects">
                        </select>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label">Start Date:</label>
                        <input asp-for="StartDate" class="form-control shadow-sm" type="date" value="@(ViewBag.StartDate)" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label">End Date:</label>
                        <input asp-for="EndDate" class="form-control shadow-sm" type="date" value="@(ViewBag.EndDate)" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CourseDescription" class="control-label">Course Description:</label>
                        <textarea asp-for="CourseDescription" name="CourseDescription" class="form-control shadow-sm" value="@(ViewBag.CourseDescription)" data-val="true" data-val-required="A course description is required"></textarea>
                        <span asp-validation-for="CourseDescription" class="text-danger" data-valmsg-for="CourseDescription"
                              data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GradeLevel" class="control-label">Grade Level:</label>
                        <select asp-for="GradeLevel" class="form-control shadow-sm" asp-items="ViewBag.GradeLevels">
                        </select>
                        <span asp-validation-for="GradeLevel" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MaxCapacity" class="control-label">Max Capacity:</label>
                        <input asp-for="MaxCapacity" name="MaxCapacity" class="form-control shadow-sm" value="@(ViewBag.MaxCapacity)" data-val="true" data-val-required="Max capacity is required" />
                        <span asp-validation-for="MaxCapacity" class="text-danger" data-valmsg-for="MaxCapacity"
                              data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-pink round" />
                    </div>
                </form>

            </div>

        </main>
        <!--End Main -->
    </div>
</div>




@if (ViewBag.Message != null)
{
    @*TERNARY EXPRESSION*@
    <p class="alert-@(ViewBag.Error != null ? "danger" : "success")">@(ViewBag.Message)</p>

    if (ViewBag.Error != null)
    {
        <ul>
            @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
            {
                <li class="alert-danger">@(e.Message)</li>
            }
        </ul>
    }
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
