
@{
    ViewData["Title"] = "Course List";
}

<ul>
    <li>
        <a asp-action="AdministratorDashboard" asp-controller="Administrator">Main</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Administrator" asp-action="InstructorList">Instructor List</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Administrator" asp-action="StudentList">Student List</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Administrator" asp-action="CourseList">Course List</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Administrator" asp-action="CourseCreate">Create Course</a>
    </li>
    <li>
        <a asp-action="Signout" asp-controller="SignIn">Signout</a>
    </li>

</ul>

<h1>Course List</h1>

@*<form action="/Administrator/List" method="get">
        <label for="filter">Filter Overdue Books</label>
        <input type="checkbox" id="filter" name="filter" value="overdue" @(ViewBag.Filter ? "checked" : "") />
        <input type="submit" value="Go!" />
    </form>*@

@if (ViewBag.Courses != null && ViewBag.Courses.Count > 0)
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Course ID</th>
                <th>Instructor</th>
                <th>Course Name</th>
                <th>Subject</th>
                <th>Course Description</th>
                <th>Grade Level</th>
                <th>Start Date</th>
                <th>End Data</th>
                <th>Capactity</th>
                <th>Action</th>
            </tr>
            @foreach (Course course in ViewBag.Courses)
            {
                <tr>
                    <td>@(course.ID)</td>
                    <td>@(course.User.FirstName + " " + course.User.LastName)</td>
                    <td>@(course.CourseName)</td>
                    <td>@(course.Subject)</td>
                    <td>@(course.CourseDescription)</td>
                    <td>@(course.GradeLevel)</td>
                    <td>@((course.StartDate == null ? "TBA" : ((DateTime)course.StartDate).ToLongDateString()))</td>
                    <td>@((course.EndDate == null ? "TBA" : ((DateTime)course.EndDate).ToLongDateString()))</td>
                    @if (course.CurrentCapacity == course.MaxCapacity)
                    {
                        <td>FULL</td>
                    }
                    else
                    {
                        <td>@(course.CurrentCapacity + "/" + course.MaxCapacity)</td>
                    }
                    <td><a href="/Administrator/CourseEdit?id=@(course.ID)">Edit</a> | <a href="/Administrator/CourseDelete?id=@(course.ID)">Delete</a></td>

                </tr>
            }
    </table>
}

else
{
    <p>There are no courses found</p>
}

