
@{
    ViewData["Title"] = "Details";
}

<ul>
    <li>
        <a asp-action="AdministratorDashboard" asp-controller="Administrator">Main</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Administrator" asp-action="InstructorList">Instructor List</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Administrator" asp-action="StudentList">Student List</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Administrator" asp-action="CourseList">Course List</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Administrator" asp-action="CourseCreate">Create Course</a>
    </li>
    <li>
        <a asp-action="Signout" asp-controller="SignIn">Signout</a>
    </li>

</ul>

@if (ViewBag.Error != null)
{
    <ul>
        @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
        {
            <li class="alert-danger">@(e.Message)</li>
        }
    </ul>
}

@if (ViewBag.Instructor != null)
{
    <h1>Course List for @(ViewBag.Instructor.FirstName + " " + ViewBag.Instructor.LastName)</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Course ID</th>
                <th>Instructor</th>
                <th>Course Name</th>
                <th>Subject</th>
                <th>Course Description</th>
                <th>Grade Level</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            @foreach (Course instructorCourses in ViewBag.InstructorCourses)
            {
                <tr>
                    <td>@(instructorCourses.ID)</td>
                    <td>@(instructorCourses.User.FirstName + " " + instructorCourses.User.LastName)</td>
                    <td>@(instructorCourses.CourseName)</td>
                    <td>@(instructorCourses.Subject)</td>
                    <td>@(instructorCourses.CourseDescription)</td>
                    <td>@(instructorCourses.GradeLevel)</td>
                    <td>@((instructorCourses.StartDate == null ? "TBA" : ((DateTime)instructorCourses.StartDate).ToLongDateString()))</td>
                    <td>@((instructorCourses.EndDate == null ? "TBA" : ((DateTime)instructorCourses.EndDate).ToLongDateString()))</td>
                </tr>
            }
        </thead>
    </table>
    <p>Return to <a asp-action="InstructorList" asp-controller="Administrator">Instructor List</a></p>
}
else
{
    <h1>Details</h1>
    <p>An error occured trying to populate instructor data. <a asp-action="InstructorList" asp-controller="Administrator">Click here to return to the instructor list</a>.</p>
}