
@{
    ViewData["Title"] = "Details";
}


<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">

        <!--Start Side panel-->
        <aside class="col-12 col-md-3 p-0 bg-light border-right border-8 ">
            <nav class="navbar navbar-expand navbar-light bg-light flex-md-column flex-row align-items-md-center p-0  ">
                <div class="collapse navbar-collapse p-0 py-md-5 ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-around">
                        <li class="nav-item  py-md-2">

                            <h5> <span class="d-none d-md-inline font-weight-bold">Dashboard Menu</span></h5>

                        </li>

                        <li class="nav-item  py-md-2">
                            <a class="nav-link teal-text" asp-action="AdministratorDashboard" asp-controller="Administrator"><i class="fas fa-house-user"></i> <span class="d-none d-md-inline"> Main</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Administrator" asp-action="InstructorList"><i class="fas fa-chalkboard-teacher"></i> <span class="d-none d-md-inline"> Instructor List</span></a>
                        </li>


                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Administrator" asp-action="StudentList"><i class="fas fa-user-graduate"></i> <span class="d-none d-md-inline"> Student List</span></a>
                        </li>


                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Administrator" asp-action="CourseList"><i class="far fa-list-alt"></i> <span class="d-none d-md-inline"> Course List</span></a>
                        </li>

                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-controller="Administrator" asp-action="CourseCreate"><i class="fas fa-plus-circle"></i> <span class="d-none d-md-inline"> Create Course</span></a>
                        </li>



                        <li class="nav-item  py-md-2">

                            <a class="nav-link teal-text" asp-action="Signout" asp-controller="SignIn"><i class="fas fa-sign-out-alt"></i> <span class="d-none d-md-inline"> Sign Out</span></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </aside>
        <!--End Side panel-->
        <!--Start Main -->
        <main class="col bg-faded py-3 flex-grow-1">

            <div class="text-right mt-4">

                <h3>Welcome</h3>

            </div>

            <div class="jumbotron bg-white">
                <h5 class="display-4">
                    Course List for Instructor:
                    
                    @if (ViewBag.Instructor != null)
                    {
                        @(ViewBag.Instructor.FirstName + " " + ViewBag.Instructor.LastName)
                    }
                </h5>

                <p>Return to <a asp-action="InstructorList" asp-controller="Administrator" class="teal-text">Instructor List</a></p>
            </div>

            <div class="container d-flex justify-content-center">


                @if (ViewBag.Error != null)
                {
                    <ul class="list-group">
                        @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
                        {
                            <li class="list-group-item list-group-item-danger">@(e.Message)</li>
                        }
                    </ul>
                }

                @if (ViewBag.Instructor != null)
                {
                    if (ViewBag.InstructorCourses.Count > 0)
                    {
                        <div class="card-deck d-flex justify-content-center align-self-center">



                            @foreach (Course instructorCourses in ViewBag.InstructorCourses)
                            {
                                <div class="card m-4 shadow-lg" style="min-width:240px; max-width: 260px;">

                                    <div class="card-header bg-@(instructorCourses.Subject) text-right">

                                        <h2 class="card-text">@(instructorCourses.Subject)</h2>

                                    </div>

                                    <div class="card-body">

                                        <h5 class="card-title">Course Name :  @(instructorCourses.CourseName)</h5>

                                        <p class="card-text">Description : @(instructorCourses.CourseDescription)</p>

                                        <hr class="my-1">

                                        <div class="text-right">
                                            <p class="card-text">
                                                <small>
                                                    @(instructorCourses.GradeLevel)
                                                </small>
                                            </p>
                                            <p class="card-text">
                                                <small>
                                                    Start date :
                                                    @((instructorCourses.StartDate == null ? "TBA" : ((DateTime)instructorCourses.StartDate).ToLongDateString()))
                                                </small>
                                            </p>
                                            <p class="card-text">
                                                <small>
                                                    End date : @((instructorCourses.EndDate == null ? "TBA" : ((DateTime)instructorCourses.EndDate).ToLongDateString()))
                                                </small>
                                            </p>


                                            <p class="card-text">
                                                <small>Capacity :  @(instructorCourses.CurrentCapacity) / @(instructorCourses.MaxCapacity)</small>
                                            </p>

                                        </div>

                                    </div>


                                </div>
                            }

                        </div> <!--End Card deck-->
                    }
                    else
                    {
                        
                        <p> This Instructor has no courses yet <a asp-action="InstructorList" asp-controller="Administrator" class="teal-text">Click here</a> to return to the instructor list</p>
                    }

                }
                else
                {
                    
                    <p>An error occured trying to populate instructor data. <a asp-action="InstructorList" asp-controller="Administrator" class="teal-text">Click here</a> to return to the instructor list</p>
                }



            </div> <!--End Container-->
        </main>
        <!--End Main -->
    </div>
</div>


